.service-header {
  margin-bottom: 40px;
  text-align: center;
}
.service-header p {
  display: none;
}
.service-container {
  display: flex;
  margin: 30px 15px;
  flex-direction: column;
  font-size: 1.2rem;
}
.service-background-image {
  width: 100%;
  height: 300px;
}
.service {
  margin-top: 20px;
  padding: 10px;
  box-sizing: border-box;
}
.service ul {
  color: green;
}
.service ul p {
  color: #172735;
}
.service-container h2 {
  margin: 0;
  font-family: Lato, sans-serif;
  line-height: 1.4em;
  letter-spacing: 0.4px;
}
.service-background-image2 {
  width: 100%;
  height: 400px;
  margin: 20px 0;
}
.service-match-container {
  height: 200px;
}
.service-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  flex-wrap: wrap;
  line-height: 1.5em;
}
.after-contact-container {
  margin: 40px 20px;
  font-family: Lato, sans-serif;
  color: #172735;
  font-weight: 400;
}
.service-card {
  width: 280px;
  margin: 15px;
  border-radius: 20px;
  box-shadow: 0 12px 6px 0 rgba(0, 0, 0, 0.04);
  padding: 20px;
  font-family: Roboto, serif;
  box-sizing: border-box;
}
.contact-step {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.step-number {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #e7e9ea;
  color: #4bcc8c;
  text-align: center;
  margin-bottom: 16px;
}
.step-number:after {
  content: '';
  position: absolute;
  top: 18px;
  left: 56px;
  width: calc(100% - 80px);
  height: 1px;
  background-color: #e7e9ea;
}
@media (min-device-width: 768px) {
  .service-container,
  .service-products {
    margin: 50px;
    flex-direction: row;
  }
  .service-card {
    width: 25rem;
  }
  .service-background-image {
    width: 80%;
    margin: 20px;
    height: 400px;
  }
  .service-container h2 {
    font-size: 2.5rem;
  }
  .service {
    margin-top: 5px;
  }
  .service-header p {
    display: block;
  }
  .service-match-container {
    height: 300px;
  }
  .after-contact {
    display: flex;
  }
  .after-contact-container {
    margin: 80px;
  }
  .after-contact-container h1 {
    font-size: 35px;
  }
  .contact-step {
    margin: 10px;
  }
}
@media (min-device-width: 500px) and (max-device-width: 768px) {
  .service-card {
    width: 300px;
  }
  .service-products {
    justify-content: flex-start;
  }
}
