.service-header {
  margin-bottom: 2.5rem;
  text-align: center;
}
.service-header p {
  display: none;
}
.service-container {
  display: flex;
  margin: 1.875rem;
  flex-direction: column;
  font-size: 1.2rem;
}
.service-background-image {
  width: 100%;
  height: 18.75rem;
}
.service {
  margin-top: 1.25rem;
  padding: 0.625;
  box-sizing: border-box;
}
.service ul {
  color: green;
}
.service ul p {
  color: #172735;
}
.service-container h2 {
  margin: 0;
  font-family: Lato, sans-serif;
  line-height: 1.4em;
  letter-spacing: 0.4px;
}
.service-background-image2 {
  width: 100%;
  height: 24rem;
  margin: 20px 0;
}
.service-match-container {
  height: 200px;
}
.service-products {
  display: flex;
  flex-direction: column;
  margin: 1.825rem;
  box-sizing: border-box;
  flex-wrap: wrap;
  line-height: 1.5em;
}
.after-contact-container {
  display: none;
}
.service-card {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 1.25rem;
  box-shadow: 0 12px 6px 0 rgba(0, 0, 0, 0.04);
  padding: 1.25rem;
  font-family: Roboto, serif;
  box-sizing: border-box;
}
.contact-step {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.step-number {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #e7e9ea;
  color: #4bcc8c;
  text-align: center;
  margin-bottom: 16px;
}
.step-number:after {
  content: '';
  position: absolute;
  top: 18px;
  left: 56px;
  width: calc(100% - 80px);
  height: 1px;
  background-color: #e7e9ea;
}
@media (min-device-width: 768px) {
  .service-container,
  .service-products {
    margin: 2rem;
    flex-direction: row;
  }
  .service-card {
    width: 20rem;
    margin: 1rem;
  }
  .service-background-image {
    margin: 1.25rem;
    height: 400px;
  }
  .service-container h2 {
    font-size: 2.5rem;
  }
  .service {
    margin-top: 5px;
  }
  .service-header p {
    display: block;
  }
  .service-match-container {
    height: 18.75rem;
  }
  .after-contact {
    display: flex;
  }
  .after-contact-container {
    display: block;
    margin: 3rem;
  }
  .after-contact-container h1 {
    font-size: 2.188rem;
  }
  .contact-step {
    margin: 0.625rem;
  }
}
