.Modal {
  position: absolute;
  z-index: 500;
  margin: 2rem;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  box-sizing: border-box;
  transition: all 0.4s ease-out;
}

@media (min-device-width: 768px) {
  .Modal {
    width: 30rem;
    left: calc(50% - 250px);
    display: flex;
    flex-direction: column;
    top: 3rem;
  }
}
