.contact-header,
.about-header {
  text-align: center;
}
.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  text-align: center;
}
.contact-img-cont,
.contact-img {
  width: 80px;
}
.contact-phone-email {
  margin: 30px 0;
  color: rgb(112, 110, 110);
  font-family: Roboto, sans-serif;
  padding: 20px;
  background-color: rgba(6, 247, 6, 0.2);
}
.contact-phone-email span {
  color: rgb(1, 175, 1);
  margin-right: 10px;
}
@media (min-device-width: 500px) {
  .contact-phone-email {
    display: flex;
    justify-content: space-around;
  }
}
