.Hamburger {
  height: 85%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 38px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px;
}

.Hamburger div {
  background-color: rgb(14, 238, 70);
  height: 3px;
  border-radius: 5px;
  width: 90%;
}
@media (min-width: 500px) {
  .Hamburger {
    display: none;
  }
}
